$orange: #f58c2d;
$red: #c65257;
$purple: #35213a;
$blue: #4cc4d6;
$green: #b1d595;
$gray: #a2a2a2;
$white: #fff;

.collectionCard {
    overflow: hidden;
    width: 31%;
    height: auto;
    margin: 0 0 1vw;
    &__name {
        display: block;
        color: $white;
        padding: 10px 5px;
        width: 100%;
        font-size: 18px;
    }

    &__img {
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        border: 1px solid $orange;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img {
            height: 100%;
            width: 100%;
            transition: 0.3s;
            object-fit: cover;
            aspect-ratio: 16/9;
        }
    }
    &__movies {
        position: absolute;
        right: 5px;
        bottom: 5px;
        background-color: $orange;
        border-radius: 5px;
        color: $purple;
        padding: 0 5px;
        z-index: 1;
    }

    &__movieIcon {
        width: 20px !important;
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}
@media screen and (max-width: 700px) {
    .collectionCard {
        width: 46%;
        margin: 0 0 2vw;
    }
}

@media screen and (max-width: 650px) {
    *{
        transition: 0s !important;
    }
    .collectionCard {
        &:hover {
            img {
                transform: none;
            }
        }
    }
}


@media screen and (max-width: 475px) {
    .collectionCard {
        width: 90%;
        margin: 0 0 3vw;
    }
}
