$orange: #f58c2d;
$red: #c65257;
$purple: #35213a;
$blue: #4cc4d6;
$green: #b1d595;
$gray: #a2a2a2;
$white: #fff;

.homePage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.home {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__action {
        display: flex;
        align-items: center;
        &_btn {
            background-color: transparent;
            border: 2px solid $orange;
            padding: 10px 25px;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 20px;
            margin-left: 10px;
            border-radius: 10px;
            transition: 0.3s;
            a {
                color: $orange;
            }
            &:hover {
                box-shadow: 0 0 5px 0 $orange;
                transform: translateY(-5px);
            }
            &.active {
                background-color: $orange;
                border: 2px solid $orange;
                margin: 0;
                a {
                    color: $purple;
                }
            }
        }
    }
    h2 {
        font-weight: 400;
        font-size: 50px;
    }
    h3 {
        font-weight: 400;
        color: $white;
        font-size: 30px;
    }
    h5 {
        color: $gray;
        font-weight: 300;
        font-size: 22px;
        letter-spacing: 2px;
        margin: 20px 0;
    }
    span {
        font-weight: 500 !important;
        font-size: 70px;
        color: $orange;
    }
}

.slider {
    padding-bottom: 20px;
    position: relative;
    &:last-child {
        margin: 0;
    }
    &__genre {
        margin: 15px 0;
        display: inline-flex;
        align-items: center;
        button {
            background: none;
            border: none;
            color: $white;
            margin-right: 15px;
            font-size: 20px;
            transition: 0.3s;
            &:last-child {
                margin: 0;
            }
            a {
                transition: 0.3s;
                color: $white;
                &:hover {
                    color: $orange;
                }
            }
            &.active {
                color: $orange;
            }
            &:hover {
                color: $orange;
            }
        }
        &_small {
            display: none;
            margin: 10px 0;
            align-items: center;
            button {
                background: none;
                border: none;
                color: $white;
                margin-right: 10px;
                font-size: 17px;
                &:last-child {
                    margin: 0;
                }
                a {
                    color: $white;
                }
                &.active {
                    color: $orange;
                }
            }
            .dots {
                display: flex;
                align-items: center;
                div {
                    width: 4px;
                    height: 4px;
                    background-color: $white;
                    border-radius: 50%;
                    margin: 0 2px;
                }
            }
        }
    }

    &__movies {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &_block {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
    }
    &_btn {
        background-color: #252525;
        position: absolute;
        right: -20px;
        border: 1px solid $orange;
        border-radius: 5px;
        padding: 10px;
        color: $white;
        z-index: 1;
        transition: 0.3s;
    }
}

.moviesLoader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.loaderCard {
    width: 12%;
    border: 1px solid $orange;
    aspect-ratio: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media screen and (max-width: 760px) {
    .home {
        padding-top: 30px;
        padding-bottom: 30px;
        &__action {
            &_btn {
                padding: 8px 20px;
                font-weight: 600;
                letter-spacing: 0px;
                font-size: 18px;
                margin-left: 5px;
            }
        }
        h2 {
            font-size: 45px;
        }
        h3 {
            font-size: 27px;
        }
        h5 {
            font-size: 20px;
            margin: 15px 0;
            letter-spacing: 1px;
        }
        span {
            font-size: 60px;
        }
    }
    .slider {
        &__genre button {
            margin-right: 12px;
            font-size: 17px;
        }
    }
}

@media screen and (max-width: 650px) {
    .homePage {
        height: auto;
    }
    .home {
        &__action {
            &_btn {
                padding: 8px 16px;
                font-weight: 600;
                letter-spacing: 0px;
                font-size: 16px;
                margin-left: 8px;
            }
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 20px;
        }
        h5 {
            font-size: 18px;
            letter-spacing: 0px;
        }
        span {
            font-size: 45px;
        }
    }
    .slider {
        padding: 25px 60px;
        &__genre {
            display: none;
            &_small {
                display: inline-flex;
            }
        }
        &__movies {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &_btn {
            display: none;
        }
    }
    .moviesLoader {
        flex-wrap: wrap;
    }
    .loaderCard {
        width: 31%;
        margin: 0 0 20px !important;
    }
}

@media screen and (max-width: 500px) {
    .slider {
        padding: 25px 30px;
    }
}

@media screen and (max-width: 475px) {
    .home {
        padding: 20px 0;
        h2 {
            font-size: 22px;
        }
        h3 {
            font-size: 15px;
        }
        h5 {
            font-size: 15px;
            letter-spacing: 0px;
            margin: 5px 0 10px;
        }
        span {
            font-size: 35px;
        }
    }
    .slider {
        padding: 25px 30px;
        &__genre {
            &_small button {
                font-size: 15px;
            }
        }
    }
    .loaderCard {
        width: 46%;
    }
}

@media screen and (max-width: 435px) {
    .slider {
        padding: 25px 20px;
        &__genre {
            &_small button {
                font-size: 14px;
            }
        }
    }
}
