$orange: #f58c2d;
$red: #c65257;
$purple: #35213a;
$blue: #4cc4d6;
$strongblue: #1d555e;
$green: #b1d595;
$gray: #a2a2a2;
$white: #fff;

.select {
    position: relative;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    button {
        width: 100%;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        padding: 0px 10px;
        color: $white;
        font-size: 18px;
        span {
            margin-right: 10px;
        }
    }
}

.options {
    position: absolute;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    background-color: #292929;
    height: 0;
    right: 0;
    top: 30px;
    z-index: -1;
    transition: opacity 0.3s;
    opacity: 0;
    &.active {
        height: auto;
        overflow: auto;

        opacity: 1;
        z-index: 10;
    }
    button {
        width: 200px;
        padding: 10px;
        color: $gray;
        border-bottom: 1px solid $gray;
        transition: 0.3s;
        &:hover {
            color: $white;
        }
    }
}

@media screen and (max-width: 725px) {
    * {
        transition: 0s !important;
    }
    .select {
        min-width: 100px;
        button {
            font-size: 15px;
        }
    }

    .options {
        font-size: 15px;
        align-items: stretch;
        top: 30px;
        button {
            width: auto;
            &:hover {
                color: $gray;
            }
        }
    }
}

@media screen and (max-width: 435px) {
    .select {
        padding-top: 10px;
        min-width: auto;
        button {
            font-size: 13px;
        }
    }

    .options {
        font-size: 12px;
        align-items: stretch;
    }
}
