$orange: #f58c2d;
$red: #c65257;
$purple: #35213a;
$blue: #4cc4d6;
$green: #b1d595;
$gray: #a2a2a2;
$white: #fff;

.header {
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: 30px 10% 0px;

    &__logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $white;
        &_img {
            width: 70px;
        }

        &_text {
            line-height: 20px;
            font-size: 13px;
        }
    }
    &__nav {
        display: flex;
        justify-content: center;
        &_link {
            font-size: 20px;
            color: $white;
            transition: 0.3s;
            font-weight: 300;
            &:not(:last-child) {
                margin-right: 20px;
            }
            &.active {
                color: $blue !important;
            }
            &:hover {
                color: $blue;
            }
        }
    }
    &__user {
        display: flex;
        align-items: center;
        h4 {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            max-width: 80px;
            color: $orange;
            font-size: 18px;
            font-weight: 300;
        }
        &_login {
            background-color: $orange;
            color: $purple;
            border: 1px solid $orange;
            border-radius: 10px;
            padding: 10px 20px;
            font-size: 16px;
            transition: 0.3s;
            font-weight: 400;
        }
        &_logout {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $orange;
                box-shadow: 0 0 10px 0 $orange;
                color: $purple;
                transform: translateY(-3px);
            }
            img {
                width: 25px;
                margin-left: 5px;
            }
        }
    }
}

.mobileHeader {
    z-index: 10;
    position: relative;
    display: none;
    align-items: center;
    justify-content: space-between;
    color: $white;
    padding: 30px 10% 0px;
    &__user {
        display: flex;
        align-items: center;
        flex-direction: column;
        h3 {
            color: $green;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        h4 {
            color: $green;
            font-size: 20px;
            font-weight: 500;
            display: flex;
            align-items: center;
            padding-bottom: 20px;
            border-bottom: 1px solid $green;
        }
        &_login {
            background-color: $green;
            color: $purple;
            border-radius: 10px;
            padding: 12px 24px;
            font-size: 20px;
            transition: 0.3s;
            font-weight: 300;
        }
        &_logout {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 25px;
                margin-left: 5px;
            }
        }
    }
    &__nav {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;
        &_link {
            font-size: 20px;
            text-align: center;
            color: $green;
            padding: 20px 0;
            border-bottom: 1px solid $green;
            margin-bottom: 10px;
            &.active {
                color: $white;
                border-bottom: 1px solid $white;
            }
        }
    }
    &_show {
        width: 100vw;
        height: 0;
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #000000e8;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s;

        &.active {
            height: 100vh;
            display: flex;
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: $white;
        &_img {
            width: 60px;
        }

        &_text {
            line-height: 20px;
            font-size: 13px;
        }
    }
    &__menu {
        &_burger {
            width: 50px;
            height: 50px;
            background-color: transparent;
            padding: 10px;
            border: 1px solid $orange;
            border-radius: 10px;
            position: relative;
            z-index: 100;
            span {
                width: 100%;
                height: 4px;
                display: block;
                background-color: $blue;
                border: none;
                position: relative;
                z-index: 100;
                transition: 0.3s;
                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                    height: 4px;
                    transition: 0.3s;
                }
                &::after {
                    background-color: $red;
                    top: -12px;
                }
                &::before {
                    background-color: $orange;
                    bottom: -12px;
                }
            }
            &.active {
                border-color: transparent;

                span {
                    background-color: transparent;
                    &::after {
                        background-color: $green;
                        top: 0;
                        transform: rotateZ(-45deg);
                    }
                    &::before {
                        background-color: $green;
                        bottom: 0;
                        transform: rotateZ(45deg);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 875px) {
    .header {
        &__logo {
            &_img {
                width: 60px;
            }
        }
        &__nav_link {
            font-size: 17px;
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}
@media screen and (max-width: 650px) {
    .header {
        display: none;
    }
    .mobileHeader {
        padding: 25px 60px 0px;
        display: flex;
    }
}
@media screen and (max-width: 500px) {
    .mobileHeader {
        padding: 25px 30px 0px;
    }
}

@media screen and (max-width: 475px) {
    .mobileHeader {
        &__logo {
            &_img {
                width: 50px;
            }

            &_text {
                line-height: 17px;
                font-size: 12px;
            }
        }
        &__menu {
            &_burger {
                width: 45px;
                height: 45px;
                padding: 10px;
                border-radius: 10px;
            }
        }
    }
}

@media screen and (max-width: 435px) {
    .mobileHeader {
        padding: 25px 20px 0px;
    }
}
