$orange: #f58c2d;
$red: #c65257;
$purple: #35213a;
$blue: #4cc4d6;
$green: #b1d595;
$gray: #a2a2a2;
$white: #fff;

.movie_big {
    display: block;
    padding-top: 20px;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        margin: 20px 0;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -10px;
            background-color: $gray;
            height: 0.5px;
            width: 80%;
        }
    }

    .title {
        h2 {
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 300;
            margin-bottom: 5px;
        }
        p {
            font-size: 20px;
            color: $gray;
        }
        b {
            position: relative;
            font-size: 20px;
            font-weight: 500;
            &:nth-child(2) {
                margin: 0 16px;
                font-weight: 400;
                color: $red;
                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 2px;
                    border-radius: 1px;
                    background-color: $red;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                &:nth-child(2)::after {
                    right: -8px;
                }
                &:nth-child(2)::before {
                    left: -8px;
                }
            }
        }
    }

    .rating {
        display: flex;
        align-items: center;
        img {
            height: 30px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 17px;
                color: $white;
                font-weight: 400;
                margin-top: 5px;
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .pic {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 40px 0;
        img {
            min-width: 0;
            flex: 374;
            aspect-ratio: 2/3;
            image-resolution: 300dpi;
        }
        div {
            flex: 44;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                height: 20%;
                width: 1px;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                display: block;
                background-color: $gray;
            }
        }
        iframe {
            flex: 1034;
            aspect-ratio: 16/9;
        }
    }

    .about {
        padding-bottom: 40px;
        .genre {
            span {
                color: $red;
                border: 1px solid $white;
                padding: 5px 10px;
                border-radius: 15px;
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        p {
            color: $white;
            font-weight: 300;
            padding-top: 20px;
            font-size: 25px;
        }
    }

    .info {
        font-size: 22px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        div {
            display: inline-flex;
            align-items: center;
            border-bottom: 1px solid $gray;
            margin-bottom: 20px;
            padding-bottom: 5px;
            font-size: 22px;
            font-weight: 400;
            color: $white;
        }
        a {
            font-size: 20px;
            color: $blue;
            font-weight: 500;
            &:hover {
                text-decoration: underline;
            }
            &:not(:last-child) {
                margin-right: 5px;
            }
        }
        span {
            font-size: 20px;
            color: $gray;
            font-weight: 300;
            margin-right: 5px;
            text-transform: capitalize;
        }
        &_left {
            align-items: flex-start;
        }
        &_right {
            align-items: flex-end;
            button {
                background-color: $red;
                border: 1px solid $red;
                color: $white;
                padding: 5px 15px;
                letter-spacing: 1px;
                font-size: 18px;
                display: flex;
                align-items: center;
                img {
                    margin-left: 15px;
                }
                &.remove {
                    background-color: transparent;
                }
            }
        }
    }

    .fullInfo {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-top: 20px;
    }

    .review {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-top: 30px;
        width: 100%;
        &__block {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            width: 45%;
            margin-right: 30px;
        }

        &__form {
            width: 100%;
            flex: 1;
        }
        h3 {
            font-size: 35px;
            color: $red;
            font-weight: 400;
        }
        &__el {
            padding: 10px 0;
            border-top: 1px solid $red;
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            h3 {
                font-size: 25px;
                color: $red;
                font-weight: 400;
                display: flex;
                align-items: center;
                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 10px;
                    border: 1px solid $red;
                    img {
                        width: 100%;
                    }
                }
            }
            p {
                width: 100%;
                font-size: 22px;
                color: $white;
                font-weight: 300;
                padding: 10px 0 0 20px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.movie_small {
    display: none;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;
        margin: 20px 0;
        position: relative;
        &::after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: -10px;
            background-color: $gray;
            height: 0.5px;
            width: 80%;
        }
    }
    .title {
        h2 {
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 300;
            margin-bottom: 5px;
        }
        p {
            font-size: 20px;
            color: $gray;
        }
        b {
            position: relative;
            font-size: 20px;
            font-weight: 500;
            &:nth-child(2) {
                margin: 0 16px;
                font-weight: 400;
                color: $red;
                &::after,
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 2px;
                    border-radius: 1px;
                    background-color: $red;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                &:nth-child(2)::after {
                    right: -8px;
                }
                &:nth-child(2)::before {
                    left: -8px;
                }
            }
        }
    }

    .rating {
        display: flex;
        align-items: center;
        img {
            height: 30px;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 17px;
                color: $white;
                font-weight: 400;
                margin-top: 5px;
            }
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    .movie_big {
        .big {
            display: none !important;
        }
        .fullInfo {
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
        }
        .info {
            &_right {
                align-items: flex-start;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .movie_big {
        .title {
            h2 {
                font-size: 30px;
            }
        }
        .rating {
            img {
                height: 25px;
            }
            div {
                h3 {
                    font-size: 15px;
                }
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }
}
@media screen and (max-width: 750px) {
    .movie_big {
        .rating {
            &__big {
                display: none !important;
            }
        }
        .title {
            h2 {
                font-size: 25px;
            }
        }
        .review {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column-reverse;
            &__block {
                width: 100%;
            }
        }
        .about {
            padding-bottom: 30px;
            p {
                font-size: 18px;
            }
        }
        .info {
            font-size: 17px;
            div {
                margin-bottom: 15px;
                font-size: 17px;
            }
            a {
                font-size: 15px;
            }
            span {
                font-size: 15px;
            }
            &_right {
                button {
                    padding: 5px 10px;
                    font-size: 13px;
                }
            }
        }
    }
}
